body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding: 2em;
}

main {
flex: 1 0 auto;
}

div.button {
    border: 3px solid black;
    border-radius: 25px;
    margin: 2.5%;
    width: 100px;
    height: 75px;
    text-align: center;
}

div.button:hover {
    background-color: pink;
    color: white;
}

.flex {
    display: flex;
}

.photo {
    float: right;
}

.profileWrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
}

div.imageSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    width: 50%;
}

div.buttonWrapper {
    margin: 1em;
    width: 70%;
}
